.maffia-page {
    background-color: #1e1e1e;
}

.maffia-description {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-color: var(--white);
    padding: 2rem;
    box-sizing: border-box;
}

.maffia-description__container {
    position: relative;
    width: 65ch;
    max-width: 100%;
    margin: auto;
}

.maffia-description__container a {
    color: var(--yellow);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.maffia-description__container a:hover {
    color: white;
    text-shadow: 0 0 1px white;
}