.auth-page {
    min-height: 100vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

.auth-card {
    background-color: white;
    border-radius: 16px;
    padding: 7rem;
    min-width: 360px;
    color: var(--black);
}