/* Pillars Section */
.pillars-section {
    position: relative;
    background-color: var(--black);
    padding: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

    width: fit-content;
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 50px;
}

.pillars-section-title {
    position: relative;
    color: white;
    text-align: center;
    font-weight: 200;

    font-size: 1.5rem;
    font-style: italic;
}


/* Pillars Container */
.pillars-container {
    position: relative;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Pillar */
.pillar {
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 400px;

    text-decoration: none;
    text-align: center;

    padding: 1rem 1rem;
    margin: 1.5rem 1rem;
    border-radius: 25px;

    box-shadow: 5px 5px 10px black;
    transition: all 0.3s;
    color: white;
}

.pillar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pillar-title {
    font-size: 1.8rem;
}

.pillar-logo {
    width: 8rem;
    position: relative;
}

.pillar-text {
    position: relative;
    padding: 0rem 0.5rem;
    font-size: 0.9rem;
}


/* Hover Effect */
.pillar:hover {
    transform: scale(1.03) translateY(-0.75rem);
    background-color: white !important;
    box-shadow: 0 0 25px white;
}

.dance-pillar:hover {
    color: #eb8f9a;
}

.culture-pillar:hover {
    color: var(--red);
}

.sports-pillar:hover {
    color: var(--blue);
}

.philanthropy-pillar:hover {
    color: #333333;
}