#about {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: fit-content;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}

#about::before, #home-pillars:before, #section-flag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/textures/grain.png);
    opacity: 0.1;
}

#about h1, #about p {
    position: relative;
    margin: 0 auto;
    color: black;
    text-align: center;
}

#about p {
    padding-left: 30%;
    padding-right: 30%;
}

#about h1 {
    width: 11rem;
}

#about h1::after, #home-pillars h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--yellow);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}



#home-pillars {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    background-color: gray;
}

#home-pillars h1 {
    padding-top: 2rem;
    position: relative;
    width: 12rem;
    margin: 0 auto;
    color: black;
    text-align: center;
}

#test {
    width: 100%;
    height: fit-content;
}



@media screen and (max-width: 768px) {
    #about p {
      padding-left: 5%;
      padding-right: 5%;
    }
}
