.shop-description {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 60vh;
    background-color: var(--white);
    padding: 2rem;
    box-sizing: border-box;
}

.shop-description a {
    text-decoration: none;
}

.shop-button {
    position: relative;
    padding: 0.5rem 0.75rem;
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.shop-button:hover {
    color: var(--white);
    background-color: var(--blue);
    transform: scale(1.05);
    box-shadow: 0px 0px 5px var(--blue);
}


.big-box{
    display: flex;
    flex-direction: row;
    background: var(--white);
    padding: 10px;
}

.button-container{
    padding: 20px;

}
.lynette-button{
    background: #C3B1E1;
    padding-bottom: 50px;
    padding-left: 50px;
    border-radius: 493px;

}

.lynette-button:hover {
    color: var(--white);
    background-color: purple;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px var(--blue);
}

.lynette{
    color: red;
    background: purple;
    padding: 12px;
    border: solid 10px gray;
}

.jare{
    background: blueviolet;
    margin: 75px;
}

.bear{
    background: blue;
    margin: 35px;
}
.vid-container{
    background: cyan;
    padding: 0!important;
}