/* Pillars Section */
.pillars-section {
    position: relative;
    background-color: #f8f8f8;
    background-color: var(--red);
    margin: 0;
    padding: 2rem 0;
    box-sizing: border-box;
}

.pillars-section-title {
    color: black;
    text-align: center;
}


/* Pillars Container */
.pillars-container {
    position: relative;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Pillar */
.pillar {
    box-sizing: border-box;
    position: relative;
    width: 350px;
    height: 460px;

    text-decoration: none;
    text-align: center;

    padding: 1rem 1rem;
    margin: 1.5rem 1rem;
    border-radius: 25px;

    box-shadow: 5px 5px 10px black;
    transition: all 0.3s;
    color: white;
}

.pillar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pillar-title {
    font-size: 2rem;
}

.pillar-logo {
    width: 10rem;
    position: relative;
}

.pillar-text {
    position: relative;
    padding: 0rem 1rem;
}


/* Hover Effect */
.pillar:hover {
    transform: scale(1.03) translateY(-1rem);
    color: black;
    background-color: white !important;
    box-shadow: 0 0 25px white;
}

.dance-pillar:hover {
    color: #eb8f9a;
}

.culture-pillar:hover {
    color: var(--red);
}

.sports-pillar:hover {
    color: var(--blue);
}

.philanthropy-pillar:hover {
    color: #333333;
}

.pillars-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/textures/grain.png);
    opacity: 0.1;
}
