.aka-page {
    background-color: var(--yellow);
}

.aka-description {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-color: #f5f2f0;
    padding: 2rem;
    box-sizing: border-box;
}

.aka-description__container {
    position: relative;
    width: 65ch;
    max-width: 100%;
    margin: auto;
}

.aka-description__container a {
    color: var(--yellow);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.aka-description__container a:hover {
    color: white;
    text-shadow: 0 0 1px white;
}