/* :root {
    --blue_dark: #1e3147;
    --blue_light: #58a2bf;
    --yellow_dark: #eab450;
    --yellow_light: #f9e9cb;
    --red: #882531;
} */

:root {
    --blue_dark: rgba(43,123,176,255);
    --blue_light: #58a2bf;
    --yellow_dark: rgba(245,197,42,255);
    --yellow_light: #f9e9cb;
    --red: rgba(226,62,82,255);
}
