@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Sigmar';
  src: url('./assets/fonts/Margarine-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: var(--blue);
}

.main-title {
  font-family: 'Sigmar';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

:root {
  --blue: rgba(43, 123, 176, 1);
  --yellow: rgba(245, 197, 42, 1);
  --red: rgba(226, 62, 82, 1);
}
