@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Title';
  src: url('./assets/fonts/static/Montserrat-Medium.ttf');
}
@import './assets/colors.css';

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: var(--blue_dark);
}

.title {
  font-family: 'Title';
}