@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@import './assets/colors.css';

body {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: var(--blue_dark);
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
}